.icon-start {
  padding: 10px;
  border: none;
  color: #ffffff;
  font-size: 16px;
}

.icon-button i {
  margin-right: 5px;
}

.icon-end {
  padding: 10px;
  border: none;
  color: #ffffff;
  font-size: 16px;
}
